@{
ViewData["Title"] = "Książka";
}

<div class="container mt-5">
    <form asp-action="@ViewData["Action"]" asp-controller="@ViewData["Controller"]" method="post">
        @if(ViewBag.Book != null)
        {
            <input type="hidden" name="Id" value="@ViewBag.Book.Id">
        }
        <div class="form-group">
            <input type="text" class="form-control" id="Title" name="Title" placeholder="Tytuł" value="@if (ViewBag.Book != null) @ViewBag.Book.Title">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Author" name="Author" placeholder="Autor" value="@if (ViewBag.Book != null) @ViewBag.Book.Author">
        </div>
        <div class="form-group">
            <label> Data wydania:
            <input type="date" class="form-control" id="PublishingDate" name="PublishingDate" placeholder="Data wydania" value="@if (ViewBag.Book != null) @ViewBag.Book.PublishingDate.ToString("yyyy-MM-dd")">
            </label>
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["MessageType"]" role="alert">
                @TempData["Message"]
            </div>
        }
        <div class="form-group">
            <button class="btn btn-success" type="submit">@ViewData["ActionText"]</button>
        </div>
    </form>
</div>
